@import "./px2rem";

html, body {
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
  .page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
}

//list基础样式
.list {
  overflow: auto;
  height: 100%;
  .item {
/*    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: px2rem(10) px2rem(20);*/
    .title {
      font-size: px2rem(14);
    }
    .content {
      margin-bottom: px2rem(5);
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

//搜索条
.search_bar {
  display: flex;
  flex-direction: row;
  margin: px2rem(10) px2rem(10) 0 px2rem(10);
  .search_type {
    width: 50vw;
    margin-left: px2rem(10);
  }
  .search_text {
    flex-grow: 1;
    margin-left: px2rem(10);
  }
  .search_icon {
    width: px2rem(10);
    height: px2rem(10);
  }
}

//iview-折叠控件样式
.ivu-collapse {
  border: 0px;
  .ivu-collapse-content-box {
    padding-bottom: 0;
  }
}

//dialog 样式
.mu-dialog-title {
  font-size: px2rem(16);
}

.mu-dialog-body {
  font-size: px2rem(14);
}